//=====================
//  variable
//=====================

// breakpoint
$breakpoint-small: 480px;
$breakpoint-middle: 600px;
$breakpoint-large: 960px;
$breakpoint-x-large: 1280px;

// color
$black: black;
$white: white;
$gray: gray;
$red: red;
$blue: blue;
$green: green;

// font
$base-font-size: 10px;
$rhythm-unit: "rem";
$main-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
